# Mac and linux:
export GOOGLE_APPLICATION_CREDENTIALS=./credential/image-recognition-82a87f5bb47f.json
export GCLOUD_PROJECT=image_recognition
echo $GOOGLE_APPLICATION_CREDENTIALS
echo $GCLOUD_PROJECT
# windows:
# set GOOGLE_APPLICATION_CREDENTIALS=./credential/image-recognition-82a87f5bb47f.json
# set GCLOUD_PROJECT=image_recognition
# echo %GCLOUD_PROJECT%